html, body{
    overflow-x: hidden;
}
header{
    background: lavender;
    text-transform: capitalize;
    height: 70vh;
    background-position: calc(15em);
    /* gap: 6em; */
    
}
header h2{
    width: 70%;
    margin-bottom: 9rem;
    font-size: 2rem;
    line-height: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* position: absolute; */
    inset: 0;
    margin: auto;

    
}
header span{
    color:rgb(53, 94, 149);
}
header div img{
    width: 17rem;
    /* position: absolute; */
    inset: 0;
    margin: auto;

   
}
.headinfo {
    position: relative;
    top: 6rem;
}